@keyframes patateGrise{
    0% {
        transform: translate(0,0) rotate(0);
    }
    50% {
        transform: translate(-2px,-2px) rotate(180deg);      
    }
    100%{
        transform: translate(0,0) rotate(360deg);
    }
}

@keyframes patateRose{
    0% {
        transform: translate(0,0) rotate(0);
    }
    50% {
        transform: translate(2px, 2px) rotate(-180deg);      
    }
    100%{
        transform: translate(0,0) rotate(-360deg);
    }
}
