html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    background: $beige;
}

a.active {
    font-weight: 500;
    color: $saumon !important;
}

a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

*{
    box-sizing: inherit;
}

h1, h2, h3, p{
    margin: 0;
    padding: 0;
}
