@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap&subset=latin-ext');

body{
    font-family: 'IBM Plex Sans Condensed',;
    font-weight: 400;
    font-size: 14px;
}

@font-face {
    font-family: 'ILoveGlitter';
    src: url('./assets/fonts/ILoveGlitter.eot');
    src: url('./assets/fonts/ILoveGlitter.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/ILoveGlitter.svg#ILoveGlitter') format('svg'),
         url('./assets/fonts/ILoveGlitter.ttf') format('truetype'),
         url('./assets/fonts/ILoveGlitter.woff') format('woff'),
         url('./assets/fonts/ILoveGlitter.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}