@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body{
    font-family: 'Roboto', sans-serif;
}

.title-h1{
    font-weight: 900;
    font-size: 125px;
    color: $saumon;
}

.title-h3{
    font-weight: 100;
    font-size: 33px;
    color: $grey;
}