.home{
  width: 100%;
  height: 100%;
  position: absolute;

  &-works{
  
  }

  &-more{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-title{
      font-family: "ILoveGlitter";
      font-size: 36px;
      text-align: right;
    }

    &-tab{
      display: flex;
      flex-direction: row;
      align-content: space-around;
      justify-content: center;

      &-title{
        font-family: "ILoveGlitter";
        font-size: 28px;
      }

      &-music, &-films, &--animation, &-web{
        padding: 30px;
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
}
