.line-right{
    width: 2.5px;
    height:100%;
    background-color: $saumon;
    position: absolute;
    right: 140px;
    top: 0;
}

.line-bottom{
    height: 2.5px;
    width:100%;
    background-color: $saumon;
    position: absolute;
    bottom: 20px;
    left:0;
}