.line-right{
    width:2.2px;
    height:100%;
    background-color: $grey;
    position: absolute;
    right: 140px;
    top: 0;
}

.line-bottom{
    height:2.2px;
    width:100%;
    background-color: $grey;
    position: absolute;
    bottom: 30px;
    left:0;
}