.photo {
  width: 100vw;
  height: 100vh;
}

.photoList {
  width: 100%;
  height: 70vh;
  padding: 80px 45px 0;
  margin-bottom: 200px;

  &-title{
    font-weight: 500;
    font-size: 45px;
    color: $grey;
    margin-bottom: 50px;
  }

  &-square{
    width: auto;
    height: 100%;
    margin: 0 135px;
    object-fit: contain;
  }

  &-controls{
    display: flex;
    justify-content: space-between;
    width: 100px;
    position: absolute;
    right: 93px;
    bottom: 25px;
  }
}
