.project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;

    &-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 900px;
        margin: 0 175px 0 175px;
        @media (max-width: 900px){
            width: auto;
            z-index: 1;
            margin: 100px 30px 70px 30px;
        }

        &-arrow{
            font-size: 50px;
            font-weight: 400;   
            text-align: center;
            padding-top: 75px;
            @media (max-width: 900px){
                visibility: hidden;
            }
        }

        &-top, &-extra{
            height: 100vh;
            z-index: 3;
            @media (max-width: 900px){
                height: auto;
            }
        }

        &-top{
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 6;
        }

        &-line{
            display: flex;
            align-items: center;
        }

        &-header{
            display: flex;
            flex-direction: row;
            @media (max-width: 900px){
                flex-direction: column;
                align-items: center;
            }

            &-photo{
                width: auto;
                height: 170px;
                @media (max-width: 900px){
                    height: 125px;
                }
            }

            &-maincontent{
                position:relative; z-index:10;

                &-soundcloud{
                    @media (max-width: 900px){
                        width: 350px;
                        height: auto;
                    }
                }

                &-video{
                    @media (max-width: 900px){
                        width: 320px;
                        height: 180px;
                    } 
                }
                &-videoextra{
                    @media (max-width: 900px){
                        width: 220px;
                        height: 123.75px;
                    } 
                }
            }

            &-title{
                font-family: 'ILoveGlitter';
                font-size: 45px;
                padding-left: 75px;
                padding-top: 12px;
                position:relative; z-index:10;
                background-image: url('./assets/whitenoise.png');
                @media (max-width: 900px) {
                    font-size: 37px;
                    padding-left: 60px;
                }

            }
            &-line-horizon{
                height: 2px;
                width: 36%;
                background-color: black;
                position: absolute;
                right: 0px;
                margin-top: 40px;
                z-index: 1;

                // @media (max-width:900px){
                //     right: 170px;
                // }
            }

        }

        &-infos{
            margin-top: 20px;
            text-align: justify;
            @media (max-width: 900px) {
                padding: 0 5px 0px 5px;
                width: auto;
            }
            &-desc{
                text-align: justify;
            }
            &-skills{
                margin-top: 30px;
                font-style: italic;
                font-size: 12px;
                text-align: center;
            }
        }
        
        &-container{
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-extra{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 30px;
            justify-items: center;
            align-items: center;
            position: relative; z-index: 10;
            height: 82%;

            @media (max-width: 900px) {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;
                padding-top: 50px;
            }

            &-photo{
                width: auto;
                height: 280px;
                @media (max-width: 900px){
                    height: 150px;
                    margin-bottom: 10px;
                }
            }
            &-element{
                &-0, &-1, &-2, &-3 { padding-bottom: 10px; }
        
                &-1 { 
                    grid-area: 1 / 2 / 2 / 3; 
                }
                &-3 { 
                    grid-area: 2 / 2 / 3 / 3;
                 }
                &-0 { 
                    grid-area: 1 / 1 / 2 / 2;
                 }
                &-2 { 
                    grid-area: 2 / 1 / 3 / 2;
                 }
            }

        }
    }

    

    &-controls{
        display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: center;
	    align-items: stretch;
	    align-content: flex-end;
        font-size: 25px;
        bottom: 48px;
        position: absolute;
        font-family: 'ILoveGlitter';
        z-index: 8;
        width: 100%;

        @media (max-width: 900px){
            bottom: 22px;
            font-size: 20px;
        }

        &-item{
            &--prev:hover, &--next:hover{
                color: $green;
            }
  
            &--prev{
                padding-left: 10px;
                padding-right: 50%;
                background-image: url('./assets/whitenoise.png');
                @media (max-width: 900px){
                    padding-left: 0;
                    padding-right: 5px; 
                }
            }
  
            &--next{
                padding-right: 10px;
                padding-left: 50%;
                background-image: url('./assets/whitenoise.png');
                @media (max-width: 900px){
                    padding-left: 5px;
                    padding-right: 0; 
                }
            }
        }
      }

      &-controls:hover{
        cursor: pointer;
      }
}