.video {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 140px;
 
  &-content{
    max-width: 1024px;
    margin: auto;
    padding-top: 100px;
  }
}

.videoBlock:nth-child(odd) {
  flex-direction: row-reverse;
}

.videoBlock:nth-child(odd) .videoBlock-titles-title {
  margin-left: -5px;
  transform: translate3d(42px, 0, 0);
  text-align: right;
}

.videoBlock:nth-child(odd) .videoBlock-titles-desc {
  text-align: right;
  margin-left: 0px;
  margin-right: 20px;
}

.videoBlock {
  display: flex;
  max-width: 90vw;
  padding-bottom: 50px;
  padding-top: 50px;
  flex-wrap: wrap;
  &-img {
    width: 552px;
    height: 328px;
    object-fit: cover;
  }
  &-titles {
    flex-basis: 40%;
    &-title {
      font-weight: 900;
      font-size: 70px;
      color: $grey;
      font-style: italic;
      margin-left: -42px;
      position: relative;
    }
    &-desc {
      margin-top: 25px;
      margin-left: 20px;
      font-weight: 300;
      font-size: 18px;
    }
  }
}
