.home{
    &-works{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-content{
            width: 650px;
            @media (max-width: 900px){
                width: auto;
                z-index: 1;
            }
        }
    }
}

.workBlock:nth-child(even) {
    flex-direction: row-reverse;
    @media (max-width: 900px){
        flex-direction: column;
        justify-content: center;
    }
}

.workBlock:nth-child(even) .workBlock-desc {
    margin: 0px 88px 68px 0px;
    &-line-horizon{
        left: 0;
    }
}

.workBlock{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 98vh;

    @media (max-width: 900px){
        flex-direction: column;
        justify-content: center;
        height: 110vh;
    }

    &-img{
        &-img{
            width: 320px;
            height: 320px;
            position:relative; z-index:10;
        }
    }

    &-desc{
        margin: 0px 0px 68px 88px;

        &-line-horizon{
            height: 2px;
            width: 82%;
            background-color: black;
            position: absolute;
            right: 0;
            z-index: 1;
            margin-top: -22px;
        }

        &-title{
            font-family: 'ILoveGlitter';
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 42px;
            text-align: center;
            background-image: url('./assets/whitenoise.png');
            padding: 0 6px 0 6px;
            position:relative; z-index:10;
        }

        &-cat{
            font-weight: 300;
            font-size: 14px;
            text-align: center;
        }

    }

    &-desc:hover{

        &-cat:hover{
            color: black;
        }
    }
}
